@page "/ventasdeldia"
@inherits Equitel_JoseGabrielCamacho.Pages.PaginaBase.PaginaBase;
@using System.Data;
@using Equitel_JoseGabrielCamacho.Data;
@using Equitel_JoseGabrielCamacho.DataAccess;

@if (mostrarInfo)
{
    <div class="container-fluid">
        <h5 class="texto-azul">VENTAS DEL DÍA</h5>

        <div class="mb-3">
            <p>Total ventas del día: $ @totalVentas</p>
        </div>

        <div class="tabla-dbversion">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="align-middle">
                        <th>Id Venta</th>
                        <th>Vendedor</th>
                        <th>NombreProducto</th>
                        <th>ValorUnitario</th>
                        <th>CantidadVendida</th>
                        <th>TotalVenta</th>
                    </tr>
                </thead>
                <tbody>
                    @if (dtVentas.Rows.Count > 0)
                    {
                        @foreach (DataRow venta in dtVentas.Rows)
                        {
                            <tr class="align-middle">
                                <td class="">@venta["IdVenta"]</td>
                                <td class="">@venta["Logueo"]</td>
                                <td class="">@venta["NombreProducto"]</td>
                                <td class="">@venta["ValorUnitario"]</td>
                                <td class="">@venta["CantidadVendida"]</td>
                                <td class="">@venta["TotalVenta"]</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}


@code {
    DataTable dtVentas = new DataTable();
    string totalVentas;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await base.OnInitializedAsync();

            dtVentas = new DetalleVentaDA().SelectTable(new DetalleVenta { }, 2);
            totalVentas = new VentaDA().SelectTable(new Venta { FechaVenta = DateTime.Now }, 3).Rows[0][0].ToString();
        }
        catch { }
    }
}
